# --- Python ---
__pycache__/
*.pyc
*.pyo
*.pyd
*.pkl
*.sqlite3
*.db

# --- Virtual Environment ---
venv/
ven/
ENV/
.env/
.venv/

# --- Jupyter Notebook ---
.ipynb_checkpoints/
*.ipynb_convert/

# --- OS / Editor ---
.DS_Store
Thumbs.db
*.swp
*.swo
*.bak
*.tmp
.vscode/
.idea/

# --- Streamlit / Cache ---
.streamlit/
.cache/
